@import "tailwindcss";

:root {
  background-color: #F4F7FF;
}

body {
  display: flex;
  font-family: 'Poppins', sans-serif;
}

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #cbd5e1;
  }
}